.main {
  margin-top: 5em;
}

.main .header {
  display: flex;
  justify-content: space-between;
}

.header h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  justify-content: center;
  padding: 10px;
}

.ui.search input {
  width: 100%;
  border-radius: 0 !important;
}

.item {
  padding: 15px 0px !important;
}

i.icon {
  float: right;
  font-size: 20px;
  cursor: pointer;
}
